@use './src/components/audio_output_visualization.scss';
@use './src/components/buffer_container.scss';
@use './src/components/buffer_sample_bars_canvas.scss';
@use './src/components/buffer_selection_visualizer.scss';
@use './src/components/button.scss';
@use './src/components/controls_container.scss';
@use './src/components/controls_channels.scss';
@use './src/components/controls_download_audio.scss';
@use './src/components/controls_enable_audio.scss';
@use './src/components/controls_gain.scss';
@use './src/components/controls_recording_status.scss';
@use './src/components/controls_play_status.scss';
@use './src/components/controls_reset.scss';
@use './src/components/controls_select_buffer.scss';
@use './src/components/input_range.scss';
@use './src/components/loading_indicator.scss';
@use './src/components/controls_upload_buffer.scss';

:root {
  --electric-blue-rgb: 31, 159, 209;
  --electric-blue: rgb(var(--electric-blue-rgb));
  --disabled-text: #ccc;

  --border-radius-lg: 20px;

  --focus-outline: 3px solid var(--electric-blue);
  --focus-outline-offset: 0.25rem;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(224, 224, 224);
  overflow-x: hidden;
}