.buffer-selection-visualizer {
    pointer-events: none;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center left;

    background-color: var(--electric-blue);
    mix-blend-mode: overlay;
}

.buffer-container[data-disabled=true] .buffer-selection-visualizer {
    background-color: transparent;
}