.controls-upload-buffer {
    position: relative;

    label {
        padding: 1rem;
        border: none;
        outline: none;
        display: block;
        width: fit-content;

        color: black;
        border-radius: var(--border-radius-lg);
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow: 5px 5px 10px #b3b3b3,
            -5px -5px 10px #ffffff;
    }

    &.disabled label {
        color: var(--disabled-text);
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        
        // hide, but still make interactive for screen readers
        opacity: 0;

        &:disabled {
            cursor: auto;
        }

        &:focus {
            outline: var(--focus-outline);
            outline-offset: var(--focus-outline-offset);
        }
    }
}