.controls-container {
    width: calc(100% - 2rem);
    min-width: 200px;
    max-width: 750px;
    margin: 2rem auto;
    padding: 1rem;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;

    border-radius: var(--border-radius-lg);
    background: #e0e0e0;
    box-shadow: 9px 9px 18px #989898,
        -9px -9px 18px #ffffff;
}

.loading-indicator {
    grid-area: 1 / 1 / span 1 / span 2;
}

.grid-button-container {
    grid-area: 2 / 1 / span 1 / span 1;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: start;
    align-items: flex-start;
}

.grid-slider-container {
    grid-area: 3 / 1 / span 1 / span 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.grid-select-container {
    grid-area: 3 / 2 / span 1 / span 1;
}

.grid-buffer-container {
    grid-area: 4 / 1 / span 1 / span 2;
}
