.input-range {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &.disabled {
        color: var(--disabled-text);
    }

    label {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        max-width: 3rem;
    }

    .input-range-input-container {
        width: 1.5rem;
        height: 8rem;
    }

    input {
        -webkit-appearance: none;
        width: 8rem;
        height: 1.5rem;
        background: transparent;
        border-radius: var(--border-radius-lg);

        // hack: just a horizontal slider rotated 90deg,
        // since browser support here is limited
        transform-origin: top left;
        transform: rotate(-90deg) translateX(-100%);

        &:disabled::-webkit-slider-runnable-track {
            cursor: auto;
        }

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            width: 1.5rem;
            height: 100%;
            border: none;
            border-radius: var(--border-radius-lg);
            cursor: pointer;

            // shadows have to be rotated 90deg to account for element rotation
            background: #e0e0e0;
            box-shadow: inset -3px 3px 9px #c7c7c7,
                inset 3px -3px 9px #f9f9f9;
        }

        &:disabled::-webkit-slider-thumb {
            background-color: var(--disabled-text);
            box-shadow: none;
        }

        &:disabled::-webkit-slider-thumb {
            cursor: auto;
        }

        // currently doesn't work because of `-webkit-appearance: slider-vertical` above
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            margin-top: 0px; // necessary in Chrome
            background-color: var(--electric-blue);
            position: relative;
            box-shadow: 0 0 16px 8px rgba(var(--electric-blue-rgb), 0.15);
        }
    }
}

.keyboard-user .input-range input:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
}