@import './src/styles/breakpoints.scss';

.controls-container {
    min-width: 300px;
    width: calc(100% - 2rem);
    max-width: 400px;
    margin: 2rem auto;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, auto);
    gap: 2rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;

    @media (min-width: $breakpoint-sm) {
        max-width: 750px;

        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
    }

    border-radius: var(--border-radius-lg);
    background: #e0e0e0;
    box-shadow: 9px 9px 18px #989898,
    -9px -9px 18px #ffffff;
}

.loading-indicator {
    grid-area: 1 / 1 / span 1 / span 1;
    @media (min-width: $breakpoint-sm) {
        grid-area: 1 / 1 / span 1 / span 2;
    }
}

.grid-button-container {
    grid-area: 2 / 1 / span 1 / span 1;
    @media (min-width: $breakpoint-sm) {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    @media (min-width: $breakpoint-sm) {
        justify-content: flex-start;
    }
}

.grid-slider-container {
    grid-area: 4 / 1 / span 1 / span 1;
    @media (min-width: $breakpoint-sm) {
        grid-area: 3 / 1 / span 1 / span 1;
    }

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;

    @media (min-width: $breakpoint-sm) {
        justify-content: flex-start;
        margin-right: 1rem;
        gap: 2rem;
    }
}


.grid-select-container {
    grid-area: 3 / 1 / span 1 / span 1;
    @media (min-width: $breakpoint-sm) {
        grid-area: 3 / 2 / span 1 / span 1;
    }
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    gap: 1rem;

    margin: 0 auto;
    @media (min-width: $breakpoint-sm) {
        margin: 0;
        align-items: flex-start;
    }
}

.grid-buffer-container {
    grid-area: 5 / 1 / span 1 / span 1;
    @media (min-width: $breakpoint-sm) {
        grid-area: 4 / 1 / span 1 / span 2;
    }
}