.buffer-visualizer {
    height: 5rem;
    width: 100%;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.buffer-visualizer-selection {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: red;
    transform-origin: center left;
}

.buffer-visualizer__audio-bar {
    height: 100%;
    width: 100%;
    background-color: black;
    transition: transform 0.2s;
    pointer-events: none;
}

.buffer-visualizer__audio-bar.buffer-empty {
    transform: scaleY(1%);
}