.buffer-visualizer {
    height: 5rem;
    width: 100%;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buffer-visualizer__audio-bar {
    height: 100%;
    width: 100%;
    background-color: black;
    transition: transform 0.2s;
}

.buffer-visualizer__audio-bar.buffer-empty {
    transform: scaleY(1%);
}