.buffer-sample-bar {
    height: 100%;
    width: 100%;
    background-color: black;
    transition: transform 0.2s;
    pointer-events: none;
    margin: 0 0.5px;
}

.buffer-sample-bar.empty {
    transform: scaleY(1%);
}