.controls-container {
    width: calc(100% - 2rem);
    min-width: 200px;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);

    // neumorphic styles
    border-radius: var(--border-radius-lg);
    background: #e0e0e0;
    box-shadow: 9px 9px 18px #989898,
        -9px -9px 18px #ffffff;
}

.grid-button-container {
    grid-area: 1 / 1 / span 1 / span 1;
}

.grid-slider-container {
    margin-left: 1rem;
    margin-bottom: 1rem;
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.controls-enable-audio {
    margin-bottom: 1rem;
}

.controls-select-buffer {
    display: block;
    margin: 1rem 0;

    grid-area: 2 / 1 / span 1 / span 2;
}

.buffer-container {
    grid-area: 3 / 1 / span 1 / span 2;
    margin-top: 1rem;
}
