.controls-container {
    width: calc(100% - 2rem);
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    flex-wrap: wrap;

    // neumorphic styles
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 9px 9px 18px #989898,
        -9px -9px 18px #ffffff;
}

.buffer-container {
    margin-top: 1rem;
}

.controls-select-buffer {
    display: block;
    margin: 1rem 0;
}