.controls-play-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    color: black;
    transition: color 0.2s;

    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #b3b3b3,
        -5px -5px 10px #ffffff;


    &:disabled {
        cursor: auto;
        color: var(--disabled-text);
    }

    &.play {
        
    }

    &.pause {
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
        box-shadow: 5px 5px 9px #d0d0d0,
            -5px -5px 9px #f0f0f0;
    }
}