.controls-enable-audio {
    width: fit-content;
    height: fit-content;
    transition: outline 0.1s, outline-offset 0.1s;
    padding: 1rem;
    border: none;

    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 10px #b3b3b3,
                -5px -5px 10px #ffffff;

    &:hover {
        background-color: #ddd;
    }

    &:focus {
        outline: 2px solid blue;
        outline-offset: 0.25rem;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #aaa;
        color: #333;
    }
}