.controls-enable-audio {
    width: fit-content;
    height: fit-content;
    transition: outline 0.1s, outline-offset 0.1s, color 0.2s;
    padding: 1rem;
    border: none;
    cursor: pointer;

    color: black;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #b3b3b3,
        -5px -5px 10px #ffffff;
        

    &.loading,
    &.initialized {
        color: var(--disabled-text);
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
        box-shadow: 6px 6px 12px #d0d0d0,
            -6px -6px 12px #f0f0f0;
    }

    &:disabled {
        cursor: auto;
    }

    &:hover {
        background-color: #ddd;
    }

    &:focus {
       // @todo
    }
}