.input-range {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &.disabled {
        color: var(--disabled-text);
    }

    label {
        margin-bottom: 0.5rem;
    }

    .input-range-input-container {
        width: 1rem;
        height: 8rem;
    }

    input {
        -webkit-appearance: none;
        width: 8rem;
        height: 1rem;
        background: transparent;
        transform-origin: top left;
        transform: rotate(-90deg) translateX(-100%);

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            width: 1rem;
            height: 100%;
            border: none;
            background: #e0e0e0;
            box-shadow: inset 5px 5px 7px #cecece,
                inset -5px -5px 7px #f2f2f2;
            border-radius: 12px;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }

        &:disabled::-webkit-slider-thumb {
            background-color: var(--disabled-text);
            box-shadow: none;
        }

        // currently doesn't work because of `-webkit-appearance: slider-vertical` above
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            margin-top: 0px; // necessary in Chrome
            background-color: var(--electric-blue);
            position: relative;
            box-shadow: 0 0 16px 8px rgba(var(--electric-blue-rgb), 0.15);
        }
    }
}