@use './src/components/audio_controls.scss';
@use './src/components/buffer_container.scss';
@use './src/components/buffer_sample_bars.scss';
@use './src/components/buffer_selection_visualizer.scss';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}