* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  object-fit: contain;
}

button {
  padding: 1rem 2rem;
  border-radius: 24px;
  outline: 0;
  border: 0;
  box-shadow: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.1s;

  &:focus, &:hover {
    background-color: #ccc;
  }

  &:active {
    background-color: #bbb;
  }
}

#fps {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#backdrop {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0003;
}

#modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: fit-content;
  max-width: 95%;
  padding: 3rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 1rem;
  }
}

.hide {
  display: none;
}