@use './src/components/buffer_container.scss';
@use './src/components/buffer_sample_bars.scss';
@use './src/components/buffer_selection_visualizer.scss';
@use './src/components/controls_container.scss';
@use './src/components/controls_density.scss';
@use './src/components/controls_enable_audio.scss';
@use './src/components/controls_gain.scss';
@use './src/components/controls_play_status.scss';
@use './src/components/controls_select_buffer.scss';
@use './src/components/input_range.scss';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --electric-blue-rgb: 31, 159, 209;
  --electric-blue: rgb(var(--electric-blue-rgb));
  --disabled-text: #ccc;
}

body {
  background-color: rgb(224, 224, 224);
}